<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/utils.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="shortcut icon" href="../images/drug-logo.png" type="image/x-icon">
    <title>Drug House</title>
</head>

<body>

    <header>
        <nav class="container">
            <ul class="container flex-around p-3">

                <div>
                    <h2>Drug Dictinoary</h2>
                </div>

                <div class="container">

                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </div>
            </ul>
        </nav>

        <!-- crousle -->
        <div class="hero" style="height: 65vh;">

            <div class="hero-body">

                <div>
                    <h3 style="color: white;">Top 10 most anticipated drug launches of 2023</h3>
                    <p>Despite all of this, Eisai got its FDA approval in early January this year (with the drug
                        becoming Leqembi), and is hitting the ground running on the commercial side. Last summer, the
                        company nabbed Eli Lilly's former Alzheimer's and marketing lead Thomas Fagan Jr. for the new
                        role of vice president, U.S. Alzheimer's disease commercial, to help shore up the drug's launch
                    </p>
                </div>
                <div class="author">

                    <!-- change it with input -->
                    <input id="author" style="width: 30%;" type="text" placeholder="Search">
                </div>
            </div>

        </div>
    </header>

    <main class="container flex-column">



        <div id="row" class="row">

            {{!-- card --}}

            {{#each medicines }}

            <div class="card">
                <div class="drug-name">

                    <p>{{this.drugName}}</p>
                </div>

                <div class="border" style="height: 10em;">

                    <img id="card-img" src="data:image/jpeg;base64, {{this.drugImage}}" alt="Images">
                </div>
            </div>

            {{/each}}
        </div>
    </main>

    <!-- box for showing drugs details -->
    <div id="drug-detail-box" medicines-data="{{medicines}}">

        <!-- upper -->
        <div class="container upper">
            <div class="box container flex-column" style="height: 30vh; padding: 14px;">

                <div style="  margin-bottom: 6px; ">
                    <h3 id="drug-name" style="color: white;"></h3>
                </div>

                <div style="  width: 13em;
                height: 8em;">
                    <img id="drug-img" alt="">
                </div>

            </div>

            <div class="box mechanism" style="height: 30vh;">

                <h3>Mechanism and Action:</h3>
                <p id="mechanism">
                </p>
            </div>
        </div>

        <!-- middle -->
        <div class="box middle">
            <div>
                <h3>IUPAC Name:</h3>
            </div>

            <div>
                <p id="iupacName"></p>
            </div>
        </div>

        <div class="middle box">
            <div>
                <h3>Molecular Formula:</h3>
            </div>
            <div>

                <p id="molecular-formula"></p>
            </div>
        </div>

        <!-- lower -->
        <div class="lower">

            <div class="box">

                <h3>Uses:</h3>
                <p id="uses">
            </div>

            <div class="box">
                <h3>Adverse Effect:</h3>
                <p id="adverse-effect">
            </div>

            <div class="box">
                <h3>About Drug:</h3>

                <p id="description">
            </div>

        </div>
        <button id="close-box">X</button>
    </div>


    <script src="../javascript/home.js"></script>
</body>

</html>