<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/utils.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="shortcut icon" href="../images/logo.jpeg" type="image/x-icon">
    <title>Drug House</title>
</head>

<body>

    <header>
        <div>

            <nav class="container">
                <ul class="container flex-around p-3">

                    <div>
                        <h2>Drug Dictinoary</h2>
                    </div>

                    <div class="container">

                        <li><a href="/">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact</a></li>
                    </div>
                </ul>
            </nav>

            <!-- crousle -->
            <div class="hero" style="height: 65vh;">

                <div class="hero-body">

                    <div>
                        <h3 style="color: white;">Top 10 most anticipated drug launches of 2023</h3>
                        <p>Despite all of this, Eisai got its FDA approval in early January this year (with the drug
                            becoming Leqembi), and is hitting the ground running on the commercial side. Last summer,
                            the
                            company nabbed Eli Lilly's former Alzheimer's and marketing lead Thomas Fagan Jr. for the
                            new
                            role of vice president, U.S. Alzheimer's disease commercial, to help shore up the drug's
                            launch
                        </p>
                    </div>

                    <div class="author">

                        <!-- change it with input -->
                        <input id="author" style="width: 30%;" type="text" placeholder="Search">
                    </div>
                </div>

            </div>

        </div>
    </header>

    <main class="container flex-column">



        <div id="row" class="row">

            {{!-- card --}}

            {{#each medicines }}

            <div class="card">
                <div class="drug-name">

                    <p>{{this.drugName}}</p>
                </div>

                <div class="border" style="height: 10em;">

                    <img id="card-img" src="data:image/jpeg;base64, {{this.drugImage}}" alt="Images">
                </div>
            </div>

            {{/each}}
        </div>
    </main>


    <script src="../javascript/home.js"></script>
</body>

</html>